.container{
  display: flex;
  gap: 20px;
  align-items: center;
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .avatar{
    object-fit: cover;
    border-radius: 50%;
  }
  
  .title{
    color: gray;
    font-weight: bold;
  }
  
  .username{
    font-weight: 500;
  }